{{ partial "header.html" . }}
	<div class="bx-crm-widget-wrapper bx-crm-widget-chat-config-wrapper">
		<div class="bx-imopenlines-config-sidebar ">
			<div class="bx-imopenlines-config-sidebar-inner">
				<div class="bx-imopenlines-config-sidebar-header"><span class="bx-imopenlines-config-sidebar-back"><span class="bx-imopenlines-config-sidebar-back-item"></span></span><span class="bx-imopenlines-config-sidebar-message"><span class="bx-imopenlines-config-sidebar-message-item bx-imopenlines-config-sidebar-title">Open Channel</span></span>
					<div class="bx-imopenlines-config-sidebar-rollup"><span class="bx-imopenlines-config-sidebar-rollup-item"></span>
					</div><span class="bx-imopenlines-config-sidebar-close"><span class="bx-imopenlines-config-sidebar-close-item"></span></span>
				</div>
				<div class="bx-imopenlines-config-sidebar-info">
					<div class="bx-imopenlines-config-sidebar-info-inner">
						<div class="bx-imopenlines-config-sidebar-info-block-container">
							<div class="bx-imopenlines-config-cloud-top"></div>
							<div class="bx-imopenlines-config-sidebar-info-title">
								<h4 class="bx-imopenlines-config-sidebar-info-title-item">Our team of skilled professionals is here to help!</h4>
							</div>
							<div class="bx-imopenlines-config-sidebar-info-block-container-inner"></div>
						</div>
						<div id="socials" class="bx-imopenlines-config-sidebar-social">
							<div class="bx-imopenlines-config-sidebar-cloud-middle"></div>
							<div class="bx-imopenlines-config-sidebar-cloud-bottom"></div>
							<div class="bx-imopenlines-config-sidebar-circle"></div>
							<div class="bx-imopenlines-config-sidebar-social-title">
								<h4 class="bx-imopenlines-config-sidebar-social-title-item">Drop us a note and we'll reply as soon as we can.</h4>
							</div>
							<div class="bx-imopenlines-config-sidebar-social-container"></div>
							<div class="bx-imopenlines-config-sidebar-social-description"><span class="bx-imopenlines-config-sidebar-social-description-item"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="bx-imopenlines-config-sidebar-iframe-container"></div>
				<div class="bx-imopenlines-config-sidebar-chat-container">
					<div class="bx-imopenlines-config-sidebar-chat">
						<div class="bx-imopenlines-messenger-textarea-place">
							<div class="bx-imopenlines-messenger-textarea-resize"></div>
							<div class="bx-imopenlines-messenger-textarea-send"><span class="bx-imopenlines-messenger-textarea-send-button"></span><span title="Click to change keyboard shortcut" class="bx-imopenlines-messenger-textarea-cntr-enter">Enter</span>
							</div>
							<div title="Select emoticon" class="bx-imopenlines-messenger-textarea-smile"></div>
							<div title="Send File" class="bx-imopenlines-messenger-textarea-file"></div>
							<div class="bx-imopenlines-messenger-textarea">
								<textarea placeholder="Enter message" class="bx-imopenlines-messenger-textarea-input"></textarea>
							</div>
							<div class="bx-imopenlines-messenger-textarea-clear"></div>
						</div>
					</div>
				</div><a href="https://www.bitrix24.com/" target="_blank" class="bx-imopenlines-config-sidebar-logo"><span class="bx-imopenlines-config-sidebar-logo-text">Powered by</span><span class="bx-imopenlines-config-sidebar-logo-image"></span></a>
			</div>
		</div>
	</div>
	<div class="bx-crm-widget-form-config-wrapper ">
		<div id="bx24_form_container_8" class="bx-crm-widget-form-config-sidebar">
			<div class="bx-crm-widget-form-config-sidebar-inner">
				<div class="bx-crm-widget-form-config-sidebar-header">	<span class="bx-crm-widget-form-config-sidebar-hamburger">
					<span class="bx-crm-widget-form-config-sidebar-hamburger-item"></span>
					</span>	<span class="bx-crm-widget-form-config-sidebar-message">
					<span data-bx-crm-widget-caption="" class="bx-crm-widget-form-config-sidebar-message-item">We'll call you back</span>
					</span>
					<div class="bx-crm-widget-form-config-sidebar-rollup">	<span class="bx-crm-widget-form-config-sidebar-rollup-item"></span>
					</div>	<span class="bx-crm-widget-form-config-sidebar-close">
					<span class="bx-crm-widget-form-config-sidebar-close-item" onclick="BX.SiteButton.removeClass(document.getElementById(&#39;bx24_form_container_8&#39;), &#39;open-sidebar&#39;); BX.SiteButton.onWidgetClose();"></span>
					</span>
				</div>
				<div class="bx-crm-widget-form-config-sidebar-info">
					<div id="bx24_form_inline_loader_container_8" class=""></div>
				</div>
				<div class="bx-crm-widget-form-config-sidebar-chat-container">
					<div class="bx-crm-widget-form-config-sidebar-chat-border"></div>
					<div class="bx-crm-widget-form-config-sidebar-logo">
						<a target="_blank" href="https://www.bitrix24.com/?c=zaviya.bitrix24.com">	<span class="bx-crm-widget-form-config-sidebar-logo-text">Powered by</span>
							<span class="bx-crm-widget-form-config-sidebar-logo-bx">Bitrix</span>
							<span class="bx-crm-widget-form-config-sidebar-logo-24">24</span>
							<span class="bx-crm-widget-form-config-sidebar-logo-text">, #1 Free CRM</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bx-crm-widget-form-config-wrapper ">
		<div id="bx24_form_container_4" class="bx-crm-widget-form-config-sidebar">
			<div class="bx-crm-widget-form-config-sidebar-inner">
				<div class="bx-crm-widget-form-config-sidebar-header">	<span class="bx-crm-widget-form-config-sidebar-hamburger">
					<span class="bx-crm-widget-form-config-sidebar-hamburger-item"></span>
					</span>	<span class="bx-crm-widget-form-config-sidebar-message">
					<span data-bx-crm-widget-caption="" class="bx-crm-widget-form-config-sidebar-message-item">Complete the form</span>
					</span>
					<div class="bx-crm-widget-form-config-sidebar-rollup">	<span class="bx-crm-widget-form-config-sidebar-rollup-item"></span>
					</div>	<span class="bx-crm-widget-form-config-sidebar-close">
					<span class="bx-crm-widget-form-config-sidebar-close-item" onclick="BX.SiteButton.removeClass(document.getElementById(&#39;bx24_form_container_4&#39;), &#39;open-sidebar&#39;); BX.SiteButton.onWidgetClose();"></span>
					</span>
				</div>
				<div class="bx-crm-widget-form-config-sidebar-info">
					<div id="bx24_form_inline_loader_container_4" class=""></div>
				</div>
				<div class="bx-crm-widget-form-config-sidebar-chat-container">
					<div class="bx-crm-widget-form-config-sidebar-chat-border"></div>
					<div class="bx-crm-widget-form-config-sidebar-logo">
						<a target="_blank" href="https://www.bitrix24.com/?c=zaviya.bitrix24.com">	<span class="bx-crm-widget-form-config-sidebar-logo-text">Powered by</span>
							<span class="bx-crm-widget-form-config-sidebar-logo-bx">Bitrix</span>
							<span class="bx-crm-widget-form-config-sidebar-logo-24">24</span>
							<span class="bx-crm-widget-form-config-sidebar-logo-text">, #1 Free CRM</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<main class="landing-public-mode">
		<div class="landing-main">
			<div id="menu" class="block-wrapper">
				<header class="landing-block landing-block-menu u-header u-header--floating u-header--floating-relative">
					<div class="u-header__section u-header__section--light g-transition-0_3 g-py-16 g-py-10--md g-bg-white" data-header-fix-moment-exclude="g-bg-white" data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
						<nav class="navbar navbar-expand-lg p-0 g-px-15">
							<div class="container">
								<!-- Logo -->
								<a href="#" class="landing-block-node-menu-logo-link navbar-brand u-header__logo p-0">
									<img class="landing-block-node-menu-logo u-header__logo-img u-header__logo-img--main g-max-width-180" src="{{ "img/Webp.net-resizeimage+_2_.png" | relURL }}" alt="" data-fileid="12502" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}">
								</a>
								<!-- End Logo -->
								<!-- Navigation -->
								<div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar494">
									<ul class="landing-block-node-menu-list js-scroll-nav navbar-nav text-uppercase g-font-weight-700 g-font-size-11 ml-auto g-pt-20 g-pt-0--lg">
										<li class="landing-block-node-menu-list-item nav-item g-mx-15--lg g-mb-7 g-mb-0--lg active">	<a href="#Home" class="landing-block-node-menu-list-item-link nav-link p-0" target="_self">Home</a>
										</li>
										<li class="landing-block-node-menu-list-item nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">	<a href="#business" class="landing-block-node-menu-list-item-link nav-link p-0" target="_self">Why we</a>
										</li>
										<li class="landing-block-node-menu-list-item nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">	<a href="#benefits" class="landing-block-node-menu-list-item-link nav-link p-0" target="_self">Benefits</a>
										</li>
										<li class="landing-block-node-menu-list-item nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">	<a href="#features" class="landing-block-node-menu-list-item-link nav-link p-0" target="_self">Features</a>
										</li>
										<li class="landing-block-node-menu-list-item nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">	<a href="#contact" class="landing-block-node-menu-list-item-link nav-link p-0" target="_self">Contact Us</a>
										</li>
										<li class="landing-block-node-menu-list-item nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">	<a href="tel:8884928642" class="landing-block-node-menu-list-item-link nav-link p-0" target="_self">888.4.ZAVOICE</a>
										</li>
									</ul>
								</div>
								<!-- End Navigation -->
								<!-- Responsive Toggle Button -->
								<button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 ml-auto" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar494" data-toggle="collapse" data-target="#navBar494"> <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
									</span>
									</span>
								</button>
								<!-- End Responsive Toggle Button -->
							</div>
						</nav>
					</div>
				</header>
			</div>
			<div id="Home" class="block-wrapper">
				<section class="landing-block landing-block-node-img u-bg-overlay g-flex-centered g-height-100vh g-bg-img-hero g-bg-black-opacity-0_5--after g-pt-80 g-pb-80" style="background-image: url({{ "img/business_phone_service.jpg" | relURL }})" data-fileid="12434" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}">
					<div class="landing-block-node-container container g-max-width-800 js-animation fadeInDown text-center u-bg-overlay__inner g-mx-1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
						<h2 class="landing-block-node-title text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-white g-mb-20">we Keep Your Business Connected To Your Customers</h2>
						<div class="landing-block-node-text g-color-white-opacity-0_7 g-mb-35 custom-text-shadow-2"><b>Take control of your business communications without the hassle. Empower your business with our robust cloud platform delivering next generation communication services.&nbsp;</b>
						</div>
						<div class="landing-block-node-button-container">	<a href="#contact" class="landing-block-node-button btn btn-xl u-btn-primary text-uppercase g-font-weight-700 g-font-size-12 g-rounded-50 g-py-15 g-px-40" target="_self">Get Started Now</a>
						</div>
					</div>
				</section>
			</div>
			<div id="business" class="block-wrapper">
				<section class="landing-block js-animation fadeInUp g-pt-75 g-pb-0 g-bg-white" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
					<div class="container g-max-width-800">
						<div class="text-center">
							<h2 class="landing-block-node-title g-font-weight-400 g-text-transform-none g-font-size-48 g-color-blue"><b>Built For Business</b></h2>
							<div class="landing-block-node-text g-font-size-16 g-pb-1 g-color-black-opacity-0_7"><font color="#212121">Next Gen Platform that is highly reliable, flexible and scales to meet the demands of your business</font>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="block504" class="block-wrapper">
				<section class="landing-block g-pb-80 g-pt-0 g-bg-white">
					<div class="container">
						<div class="row">
							<div class="landing-block-card js-animation fadeIn col-lg-4 g-mb-40 g-mb-0--lg landing-card" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<div class="landing-block-card-header text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
									<h4 class="landing-block-node-subtitle h6 g-font-weight-800 g-font-size-12 g-letter-spacing-1 g-color-primary g-mb-20"><br></h4>
									<h2 class="landing-block-node-title h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-mb-minus-10 g-text-break-word g-font-size-16 g-text-transform-none">Geo Redundant Architecture</h2>
								</div>
								<div class="landing-block-node-text">
									<p><font color="#212121">Our cloud-based platform, allowing you to deploy new communication services quickly and efficiently. &nbsp;</font>
									</p>
								</div>
							</div>
							<div class="landing-block-card js-animation fadeIn col-lg-4 g-mb-40 g-mb-0--lg landing-card" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<div class="landing-block-card-header text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
									<h4 class="landing-block-node-subtitle h6 g-font-weight-800 g-font-size-12 g-letter-spacing-1 g-color-primary g-mb-20"><br></h4>
									<h2 class="landing-block-node-title h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-mb-minus-10 g-text-break-word g-font-size-16 g-text-transform-none">Enterprise Grade Features</h2>
								</div>
								<div class="landing-block-node-text">
									<p><font color="#212121">Maintain a right balance of flexibility and control, so you can work efficiently and smoothly. &nbsp;&nbsp;</font>
									</p>
								</div>
							</div>
							<div class="landing-block-card js-animation fadeIn col-lg-4 g-mb-40 g-mb-0--lg landing-card" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<div class="landing-block-card-header text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
									<h4 class="landing-block-node-subtitle h6 g-font-weight-800 g-font-size-12 g-letter-spacing-1 g-color-primary g-mb-20"><br></h4>
									<h2 class="landing-block-node-title h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-mb-minus-10 g-text-break-word g-font-size-16 g-text-transform-none">US Based Support</h2>
								</div>
								<div class="landing-block-node-text">
									<p><font color="#212121">Our support team is right here in the America!&nbsp;</font>
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="benefits" class="block-wrapper">
				<section class="container-fluid px-0 landing-block">
					<div class="row no-gutters">
						<div class="landing-block-node-left-img g-min-height-300 col-lg-4 g-bg-img-hero order-3 order-lg-1" style="background-image: url({{ "img/phone-image.jpg" | relURL }})" data-fileid="12506" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></div>
						<div class="landing-block-node-center col-md-6 col-lg-4 order-1 order-lg-2 g-flex-centered g-theme-business-bg-blue-dark-v1">
							<div class="text-center g-color-gray-light-v2 g-pa-30">
								<div class="landing-block-node-header text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
									<h4 class="landing-block-node-center-subtitle js-animation fadeIn h6 g-font-weight-800 g-font-size-12 g-letter-spacing-1 g-color-primary g-mb-20" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">BENEFITS</h4>
									<h2 class="landing-block-node-center-title js-animation fadeIn h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-color-white g-mb-minus-10" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">----------</h2>
								</div>
								<div class="landing-block-node-center-text js-animation fadeIn g-color-gray-light-v2 mb-0" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
									<p>Our infrastructure gives you competitive rates, device flexibility, quick office setup, personalized user portal, and 99.999% reliability with failover&nbsp;</p>
								</div>
							</div>
						</div>
						<div class="landing-block-node-right col-md-6 col-lg-4 order-2 order-lg-3 g-theme-business-bg-blue-dark-v2">
							<div class="superslider g-pb-90">
								<div>
									<img class="landing-block-node-right-img img-fluid w-100" src="{{ "img/img1.jpg" | relURL }}" alt="" data-fileid="-1" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}">
									<div class="g-pa-30">
										<h3 class="landing-block-node-right-title js-animation fadeIn text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">Smart call-routing&nbsp;</h3>
										<div class="landing-block-node-right-text js-animation fadeIn g-color-gray-light-v2" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
											<p>Our intelligent call routing engine can build optimum call flows for your business.&nbsp;</p>
										</div>
									</div>
								</div>
								<div>
									<img class="landing-block-node-right-img img-fluid w-100" src="{{ "img/img2.jpg" | relURL }}" alt="" data-fileid="-1" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}">
									<div class="g-pa-30">
										<h3 class="landing-block-node-right-title js-animation fadeIn text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">Keep your number&nbsp;</h3>
										<div class="landing-block-node-right-text js-animation fadeIn g-color-gray-light-v2" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
											<p>You can switch to our services with your existing phone numbers.&nbsp;</p>
										</div>
									</div>
								</div>
								<div>
									<img class="landing-block-node-right-img img-fluid w-100" src="{{ "img/fast-deployment.jpg" | relURL }}" alt="" data-fileid="12510" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}">
									<div class="g-pa-30">
										<h3 class="landing-block-node-right-title js-animation fadeIn text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">Fast deployment&nbsp;</h3>
										<div class="landing-block-node-right-text js-animation fadeIn g-color-gray-light-v2" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
											<p>Our solution experts work with your local partner to get you deployed quickly and efficiently.&nbsp;</p>
										</div>
									</div>
								</div>
								<div>
									<img class="landing-block-node-right-img img-fluid w-100" src="{{ "img/Local-Partner.jpg" | relURL }}" alt="" data-fileid="12512" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}">
									<div class="g-pa-30">
										<h3 class="landing-block-node-right-title js-animation fadeIn text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">Local Partner Support</h3>
										<div class="landing-block-node-right-text js-animation fadeIn g-color-gray-light-v2" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">----------------------------------------</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="features" class="block-wrapper">
				<section class="landing-block js-animation fadeInUp g-pb-20 g-bg-white-opacity-0_1 g-pt-75" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
					<div class="container g-max-width-800">
						<div class="text-center">
							<h2 class="landing-block-node-title g-font-weight-400 g-color-blue g-font-size-48"><b>Features</b></h2>
							<div class="landing-block-node-text g-font-size-16 g-pb-1 g-color-black-opacity-0_9">
								<p><font color="#212121">Providing customizable solutions to your problems</font>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="block336" class="block-wrapper">
				<section class="landing-block g-pt-0 g-pb-30 g-bg-white-opacity-0_1">
					<div class="container">
						<!-- Icon Blocks -->
						<div class="row no-gutters">
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-music-066 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Virtual receptionist</b>&nbsp;</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">The virtual receptionist feature gives you an edge to answer your customer calls with professional greeting. The menu system helps in routing customer calls to right person, message or voice mail.</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-communication-171 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
                	</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Hunt Groups</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">Ensure orderly call flow and assist customer in getting to the right staff members as quickly as possible</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-music-028 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Customer Greeting</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">Take advantage of our text-to-speech function and create customer greetings in male and female voices, with various accents.</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-communication-018 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Call Recording*&nbsp;</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">Call recording is crystal clear using our advance voice technology</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-communication-063 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Call Queues*</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">We manages your inbound call volume in an orderly manner through our VoIP business phone system so you will get quick and efficient service.&nbsp;</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-communication-180 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Call Conferencing*</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">--------------</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon fa fa-external-link" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Call Parking</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">The calls can be parked and retrieved easily from any device.&nbsp;</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-communication-175 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Interactive Voice Response</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">-----------------</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
							<div class="landing-block-node-element landing-block-card col-md-4 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in landing-card js-animation opacity-1 g-pt-0 col-lg-4 fadeInUp g-bg-primary-opacity-0_1" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
								<!-- Icon Blocks -->
								<div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">	<span class="landing-block-node-element-icon-container d-block g-font-size-40 g-mb-15 g-color-blue">
					  <i class="landing-block-node-element-icon icon-communication-155 u-line-icon-pro" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;enabled&quot;:false}"></i>
					</span>
									<h3 class="landing-block-node-element-title h5 text-uppercase g-color-black g-mb-10"> </h3>
									<div class="landing-block-node-element-text g-text-transform-none g-color-main g-font-size-17">
										<p><b>Virtual Fax</b>
										</p>
									</div>
									<div class="landing-block-node-separator d-inline-block g-width-40 g-brd-bottom g-brd-2 g-my-15 g-brd-blue"></div>
									<ul class="landing-block-node-element-list list-unstyled text-uppercase g-mb-0">
										<li class="landing-block-node-element-list-item g-brd-bottom g-brd-gray-light-v3 g-py-10 g-text-transform-none g-color-gray-dark-v2 g-font-size-16">Virtual faxing give your business the flexibility to allow its users to work from anywhere</li>
									</ul>
								</div>
								<!-- End Icon Blocks -->
							</div>
						</div>
						<!-- End Icon Blocks -->
					</div>
				</section>
			</div>
			<div id="block526" class="block-wrapper">
				<section class="landing-block js-animation fadeInUp" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
					<div class="text-center">
						<h2 class="landing-block-node-title g-font-weight-400 g-my-0 g-font-size-10"><p align="left"><i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; * Restrictions and/or additional charges may apply&nbsp;</i></p></h2>
					</div>
				</section>
			</div>

			

			<div id="contact" class="block-wrapper">
				<section class="landing-block g-bg-primary js-animation fadeInUp" style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
					<div class="container g-max-width-800 g-py-20">
						<div class="text-center g-mb-20">
							<h2 class="landing-block-node-title g-font-weight-400 g-color-white g-font-size-11"><b></b></h2>
							<div class="landing-block-node-text g-color-white g-font-size-36">
								<p>ANSWERS TO <span style="font-weight: bold;">YOUR QUESTIONS</span>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="form" class="block-wrapper">
				<section class="g-pos-rel landing-block text-center g-pt-80 g-pb-80 g-bg-primary">
					<div class="container">
						<div class="landing-block-form-styles" hidden="">
							<div class="g-bg-transparent h1 g-color-white g-brd-none g-pa-0" data-form-style-wrapper-padding="1" data-form-style-bg="1" data-form-style-bg-content="1" data-form-style-bg-block="1" data-form-style-header-font-size="1" data-form-style-main-font-weight="1" data-form-style-border-block="1"></div>
							<div class="g-bg-white g-color-primary g-brd-primary" data-form-style-main-bg="1" data-form-style-main-border-color="1" data-form-style-main-font-color-hover="1"></div>
							<div class="g-bg-primary-dark-v2 u-theme-restaurant-shadow-v1 g-brd-around g-color-gray-dark-v2 rounded-0" data-form-style-input-bg="1" data-form-style-input-box-shadow="1" data-form-style-input-select-bg="1" data-form-style-input-border="1" data-form-style-input-border-radius="1" data-form-style-button-font-color="1"></div>
							<div class="g-brd-around g-brd-gray-light-v2 g-brd-bottom g-bg-black-opacity-0_7" data-form-style-input-border-color="1" data-form-style-input-border-hover="1"></div>
							<p class="g-color-white-opacity-0_7" data-form-style-second-font-color="1" data-form-style-main-font-family="1" data-form-style-main-font-weight="1" data-form-style-header-text-font-size="1"></p>
							<h3 class="g-font-size-11 g-color-white" data-form-style-label-font-weight="1" data-form-style-label-font-size="1" data-form-style-main-font-color="1">
							</h3>
						</div>
						<div class="row">
							<div class="col-md-6 mx-auto">
								<div class="g-brd-white-opacity-0_6 u-form-alert-v3" data-b24form="6|rtup29" data-b24form-use-style="Y" data-b24form-show-header="N">
									<!-- form start -->
									<div class="col-md-12 col-sm-12">
										<div class="crm-webform-block crm-webform-default">
											<div class="crm-webform-header-container">
												<h2 class="crm-webform-header">Feedback</h2>
												<div>Please share your feedback in the comment field</div>
											</div>
											<div class="crm-webform-body">
												<form novalidate="" class="crm-webform-form-container" id="bxform" method="POST" enctype="multipart/form-data" action="/pub/form.php?view=frame&amp;form_id=6&amp;widget_user_lang=&amp;sec=rtup29&amp;r=1542480542662" _lpchecked="1">
													<fieldset class="crm-webform-fieldset">
														<div class="row">
															<div class="col-md-12 col-sm-12 crm-webform-field-string" id="field_LEAD_NAME">
																<div class="crm-webform-label-title-container">
																	<div class="crm-webform-label-title">
																		<label for="LEAD_NAME" class="crm-webform-label ">First Name:</label>
																	</div>
																</div>
																<div class="crm-webform-group" id="field_LEAD_NAME_CONT">
																	<div class="crm-webform-label-content">
																		<label class="crm-webform-input-label">
																			<input value="" class="crm-webform-input" type="text" name="LEAD_NAME" id="LEAD_NAME" placeholder="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">	<b class="tooltip crm-webform-tooltip-bottom-right">Fill in all the required fields</b>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12 col-sm-12 crm-webform-field-string " id="field_LEAD_LAST_NAME">
																<div class="crm-webform-label-title-container">
																	<div class="crm-webform-label-title">
																		<label for="LEAD_LAST_NAME" class="crm-webform-label ">Last Name:</label>
																	</div>
																</div>
																<div class="crm-webform-group" id="field_LEAD_LAST_NAME_CONT">
																	<div class="crm-webform-label-content">
																		<label class="crm-webform-input-label">
																			<input value="" class="crm-webform-input" type="text" name="LEAD_LAST_NAME" id="LEAD_LAST_NAME" placeholder="">	<b class="tooltip crm-webform-tooltip-bottom-right">Fill in all the required fields</b>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12 col-sm-12 crm-webform-field-phone " id="field_LEAD_PHONE">
																<div class="crm-webform-label-title-container">
																	<div class="crm-webform-label-title">
																		<label for="LEAD_PHONE" class="crm-webform-label ">Phone:</label>
																	</div>
																</div>
																<div class="crm-webform-group" id="field_LEAD_PHONE_CONT">
																	<div class="crm-webform-label-content">
																		<label class="crm-webform-input-label">	<i class="crm-webform-icon fa fa-phone"></i>
																			<input value="" name="LEAD_PHONE" id="LEAD_PHONE" class="crm-webform-input crm-webform-input-phone" type="text" placeholder="">	<b class="tooltip crm-webform-tooltip-bottom-right">Fill in all the required fields</b>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12 col-sm-12 crm-webform-field-email " id="field_LEAD_EMAIL">
																<div class="crm-webform-label-title-container">
																	<div class="crm-webform-label-title">
																		<label for="LEAD_EMAIL" class="crm-webform-label ">E-mail:</label>
																	</div>
																</div>
																<div class="crm-webform-group" id="field_LEAD_EMAIL_CONT">
																	<div class="crm-webform-label-content">
																		<label class="crm-webform-input-label">	<i class="crm-webform-icon fa fa-envelope-o"></i>
																			<input value="" class="crm-webform-input" type="text" name="LEAD_EMAIL" id="LEAD_EMAIL" placeholder="">	<b class="tooltip crm-webform-tooltip-bottom-right">Fill in all the required fields</b>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12 col-sm-12 crm-webform-field-text" id="field_LEAD_COMMENTS">
																<div class="crm-webform-label-title-container">
																	<div class="crm-webform-label-title">
																		<label for="LEAD_COMMENTS" class="crm-webform-label ">Comment:</label>
																	</div>
																</div>
																<div class="crm-webform-group" id="field_LEAD_COMMENTS_CONT">
																	<div class="crm-webform-label-content">
																		<label class="crm-webform-input-label">
																			<textarea class="crm-webform-input crm-webform-textarea" name="LEAD_COMMENTS" id="LEAD_COMMENTS" placeholder=""></textarea>	<b class="tooltip crm-webform-tooltip-bottom-right">Fill in all the required fields</b>
																		</label>
																	</div>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset class="crm-webform-fieldset-footer">
														<div class="row">
															<div class="col-md-12 col-sm-12">
																<div class="crm-webform-group crm-webform-button-container">
																	<button data-bx-webform-submit-btn="" id="SUBMIT_BUTTON" class="crm-webform-submit-button" type="submit">Send</button>
																</div>
															</div>
														</div>
													</fieldset>
													<input type="hidden" name="from" value="https://zavoice.bitrix24.site/#benefits">
												</form>
											</div>
										</div>
									</div>
									<!-- form end -->
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
{{ partial "footer.html" . }}		